@import '~/node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;700;800&display=swap');


#app {
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url('@/assets/img/bg_image.jpg');
  background-size: contain;
}




.logo {
  background-color: rgb(0 0 0 / 31%);
  border-radius: 50%;


  img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
}

.baffo {
  box-shadow: 18px 36px;
  border-radius: 67%;
}


/* MAIN */

.about {
  background-color: var(--bs-gray-800);

  p {
    line-height: 2rem;
    font-size: 18px;
    margin: 2rem 3rem 2rem 3rem;
  }
}



/* FLIP BOX */

.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.flip-container:hover .back {
  transform: rotateY(0deg);
}

.flip-container:hover .front {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 340px;


}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  border-radius: 15%;
}

.back {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 2rem;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  border-radius: 15%;

  img {
    height: 13rem;
    width: 19rem;
    border-radius: 2rem;
  }
}

.back {
  transform: rotateY(-180deg);

  color: rgba(0, 0, 0, 0.755);
  text-align: center;
  line-height: 1.4em;
}

.vertical.flip-container {
  position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
  transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
  transform: rotateX(180deg);
}

.front {
  filter: blur(0.5);
  color: #fff;
  text-align: center;
}

h1 {
  padding-top: 25px;
  color: #fff;
}





/* CONTATTI */

.main_contatti {
  border: 2px solid white;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background-color: var(--bs-dark);
}



.col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.icon {
  position: relative;
  width: 8rem;
  height: 8rem;
}

.chiama_ora {
  position: absolute;
  top: -2rem;
  left: -2rem;
  background-color: transparent;
  border: none;
  border-right: #f9fafb;
  height: 7rem;
  transform: rotate(302deg);
  z-index: 0;

  &:hover {
    background-color: #26d116;
  }
}

.email {
  position: absolute;
  bottom: 5rem;
  left: 0rem;
  background-color: transparent;
  border: none;
  border-right: #f9fafb;
  height: 7rem;
  transform: rotate(329deg);
  z-index: 0;

  &:hover {
    background-color: #2a8ae4;
  }
}

.instagram {
  position: absolute;
  bottom: 6rem;
  left: 2.3rem;
  background-color: transparent;
  border: none;
  border-right: #f9fafb;
  height: 7rem;
  transform: rotate(359deg);
  z-index: 0;

  &:hover {
    background-color: #bf165c;

  }
}

.linkedin {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  background-color: transparent;
  border: none;
  border-right: #f9fafb;
  height: 7rem;
  transform: rotate(31deg);
  z-index: 0;

  &:hover {
    background-color: #402ae4;

  }
}

.github {
  position: absolute;
  bottom: 2.9rem;
  left: 7.5rem;
  background-color: transparent;
  border: none;
  border-right: #f9fafb;
  height: 7rem;
  transform: rotate(58deg);
  z-index: 0;

  &:hover {
    background-color: #ffffff;
    color: #020801;
  }
}